/* Created by: Olivia Ten Den
* Created on: Feb 27
* Updated on: May 10
* Updated on: June 5
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 20pt;
}

.mdl-textfield__error {
  color: rgb(120 31 31);
}

.page-content {
  color: rgb(0 0 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

body {
  background-color: #fed5ff;
}

img {
  height: auto;
  width: 100px;
  float: right;
}
